$apiraiser-platinum: #ebe8e7;
$apiraiser-tango-pink: #ea7186;
$apiraiser-orange-yellow: #f2c76e;
$apiraiser-toolbox: #7a77b9;
$apiraiser-bright-lavendr: #e6e6fa; //#bd9dea;

$apiraiser-dark: #734f97;
$apiraiser-bright: #bf94e6;
$apiraiser-light: #dda0de;

$body-bg: #000;
$body-color: #111;

$primary: $apiraiser-toolbox;
$secondary: $apiraiser-bright-lavendr;
$info: $apiraiser-orange-yellow;
$background: $apiraiser-platinum;

$enable-rounded: true;
