@import "../themes/apiraiser-variables.scss";

.apiraiser-dropdown div div {
  background-color: white;
}

.apiraiser-dropdown div div button {
  overflow: hidden;
  transition: 0.3s all ease;
  padding: 0.4rem;
  // margin-left: 32px;
}

.apiraiser-dropdown div div button:hover,
.apiraiser-dropdown div div button:focus {
  border-color: $primary;
  background-color: $primary;
  color: white;
}
